header{
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    transition:  background-color .5s ease;
    z-index: 3;   
}
.mainheader__mainnav{
justify-content: space-between;
margin-top: 2vw;
}
.mainheader__btn{
    z-index: 4;
    margin-right: 5vw;
    background: none;
    border: none;
    display: none;
}
.mainheader--scrolled{
    color: black;
    background-color: #C4C4C4; 
}
.mainnav__item{
    margin: 0 3vw;
    text-decoration: none;
    height: auto;
    color: #ffff;

}

.mainnav__item--scrolled{
    color: black;

}

.mainnav__item:hover{
    margin: 0 3vw;
    background-color: aliceblue;
    text-decoration: underline;
}

.logo{
    padding: 1vw 2vw;
    width: 2%;
    min-width: 120px;
}

.imagen{
    width: 100%;
}
.mainheader__mainnav--active{
    opacity: 1;
    pointer-events: all;
    transform: translate(0%, 0%);
}
.blocktext{

    font-family: Helvetica;
    z-index: 2;
    color: #DB9B1D;
    position: absolute;
    top: 18vw;
    left: 60vw;
   
}
@media (max-width: 500px){
    .blocktext_tittle{
        font-size: 1em;
    }
    .blocktext_text{
        font-size: 0.1em;
    }
   
    .mainheader__mainnav{
        position: absolute;
        width: 60%;
        top: 40px;
        border-radius: 15%;
        right: 0px;
        opacity: 0;
        display: flex;
        flex-direction: column;
        pointer-events: none;
        transform: translate(-100%, 0%)

    }


    
    .mainheader__mainnav--active{
        background: rgba(79,78,178, 0.7);
        opacity: 1;
        pointer-events: all;
        transform: translate(0%, 0%);
    }

    .mainheader__btn{
        display: block;
    }

    
    .logo{
        padding: 1vw 2vw;
        width: 2%;
        min-width: 80px;
    }


    .mainnav__item{
        margin: 2vw;
        text-align: center;
    }

}

.range{
    z-index: 2;
    position: absolute;
    top: 50vw;
    left: 60vw;
    border-bottom-color: black;
}
.gallery{
    display: flex;
    align-content: center;
    justify-content: center;
}

.personaje{
 z-index: 1;
position: absolute;
top: -3.5vw;
width: 100%;
right:0.5%;

}

body{
    padding: 0%;
    margin: 0%;
    width: 100%;
}
.slider{
    overflow: hidden;
    width: 30vw;
    align-content: center;
}

.slider__tape{
    display: flex;
    align-items: flex-start;
    transition: transform .3s ease-in-out;
}

.slider__tape--inactive{
    transition: none;
}

.slider__img{
    width: 30vw;
}
footer{
    margin: 2 em, 2em, 2em, 2em;
    background: #4F52B3;
    justify-content: center;
    align-content: center;
    display: flex;
    
}

.footer__input{
    display: block;
}
.footer__socialmedia{
    display: flex;
    border-top: 2vw;
    align-content: space-between;
    
}
.footer__image{
    
    width: 10%;
}
.contenedor{
    align-content: center;
    width: 50%;
}
*{
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}